<div class="container">
  <div class="central">
    <div class="title">Vamos descartar? 😁</div>
    <div class="sub-title">
      Envie uma foto ou descrição sobre o tipo de material, e o ajudaremos a
      fazer o descarte inteligente!
    </div>
  </div>
  <div class="chat">
    <div class="top">
      <div class="img-modal" *ngIf="photo">
        <div (click)="remove()" class="remove">x</div>
        <img
          class="selected-img"
          *ngIf="photo"
          [src]="photo"
          alt="Foto capturada"
        />
      </div>
    </div>

    <div class="buttons">
      <div *ngIf="!photo" class="outline">Escrever ✍🏾</div>
      <div *ngIf="!photo" class="fill" (click)="takePhoto()">
        Enviar foto 📷
      </div>

      <div class="fill" *ngIf="photo">Descartar ♻️</div>
    </div>
  </div>
</div>
