.logo {
  font-family: "Exo", sans-serif;
  text-align: center;
  color: var(--primary-color);
  font-weight: bolder;
  font-size: 2em;
}

.central {
  margin-top: 60%;
  text-align: center;
  font-size: 2em;
  font-weight: 300;
}

.chat {
  margin: auto;
  position: fixed;
  bottom: 0;
  min-width: 100%;
  max-width: fit-content;

  .top {
    position: relative;

    .selection-container {
      display: flex;
      gap: 0.5em;
      box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.1);
      flex-direction: column;
      width: 12em;
      text-align: left;
      border-radius: 10px;
      margin: 1em 1em 0.3em;
      padding: 0.3em;
      z-index: 40;
      position: absolute;
      bottom: 0;
      background: var(--white);

      .btn {
        text-align: left;
        border: none;
        outline: none;
        background: transparent;
      }
    }

    .hidden {
      display: none;
    }

    .img-modal {
      display: flex;
      width: fit-content;
      margin: 1em 1em 0.3em;
      padding: 0.3em;
      border-radius: 5px;
      position: relative;

      .remove {
        position: absolute;
        right: 0;
        top: 0;
        border: 1px solid var(--tertiary-color);
        color: var(--tertiary-color);
        background: var(--white);
        width: 1.5em;
        height: 1.5em;
        text-align: center;
        border-radius: 100%;
      }

      .selected-img {
        width: 3.5em;
        border: 1px solid var(--septenary-color);
        border-radius: 5px;
      }
    }
  }

  .search-field {
    display: flex;
    border-radius: 10px;
    gap: 0.5em;
    align-items: center;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 0em 1em 1em;
    padding: 0.3em;

    .icon {
      padding: 0 0.3em;
    }

    .input {
      border: none;
      outline: none;
      width: 100%;
      background: transparent;
    }

    button {
      outline: none;
      border: none;
      background: transparent;

      .enter {
        border-radius: 100px;
        padding: 0.1em;
        background: var(--primary-color);
        color: var(--white);
        font-size: 2em;
      }
    }
  }
}

.descarte {
  background: var(--senary-color);
  color: var(--tertiary-color);
}
