<div class="container">
  <div class="central" *ngIf="!responses.length">
    <div class="title">Vamos descartar? 😁</div>
    <div class="sub-title">
      Envie uma foto ou descrição sobre o tipo de material, e o ajudaremos a
      fazer o descarte inteligente!
    </div>
  </div>
  <div class="chat">
    <div *ngIf="responses.length" class="chat-response" #scrollContainer>
      @for (res of responses; track $index) {
      <div
        [ngClass]="!res.isUser ? 'ai-baloon ' : 'user-baloon'"
        class="baloon"
      >
        <img class="response-img" src="{{ res?.image }}" alt="" />
        <div>
          {{ res.part }}
        </div>
      </div>
      }
    </div>
    <div class="buttons">
      <div (click)="writePrompt()" class="outline">Escrever ✍🏾</div>
      <div (click)="takePhoto()" class="fill">Enviar foto 📷</div>
    </div>
  </div>
</div>

<div [formGroup]="aiForm" class="prompt-full-container" *ngIf="isPromptOpen">
  <div class="selection-container">
    <img
      class="selected-img"
      *ngIf="image"
      [src]="image"
      alt="Foto capturada"
      (click)="takePhoto()"
    />
    <div class="select-image" (click)="takePhoto()" *ngIf="!image">+</div>

    <textarea
      class="text-details"
      formControlName="message"
      placeholder="Detalhes adicionais sobre o descarte"
      id=""
    ></textarea>

    <div class="actions-buttons">
      <div (click)="cancel()" class="cancel">Cancelar</div>
      <div
        (click)="sendPrompt()"
        [ngClass]="loading ? 'loading' : ''"
        class="descarte"
      >
        Descartar ♻️
      </div>
    </div>
  </div>
</div>
