<div class="container">
  <div class="central">Vamos descartar? 😁</div>
  <div class="chat">
    <div class="top">
      <div [ngClass]="selectionOpen ? 'selection-container' : 'hidden'">
        <button class="btn" (click)="takePhoto()">📸 Tirar Foto</button>
        <button class="btn" (click)="takePhoto()">📁 Selecionar Foto</button>
      </div>

      <div class="img-modal" *ngIf="photo">
        <div (click)="remove()" class="remove">x</div>
        <img
          class="selected-img"
          *ngIf="photo"
          [src]="photo"
          alt="Foto capturada"
        />
      </div>
    </div>
    <form class="search-field">
      <ng-icon
        (click)="openSelection()"
        class="icon"
        name="radixImage"
      ></ng-icon>
      <input class="input" type="text" placeholder="Imagem ou descrição" />
      <button type="submit">
        <ng-icon class="enter" name="phosphorArrowFatUpDuotone"></ng-icon>
      </button>
    </form>
  </div>
</div>
